.contenedor-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg);
}


.login-formulario {
  background: var(--color-white);
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 350px;
  text-align: center;
}


.login-formulario h2 {
  margin: 0 0 10px;
  text-align: center;
  color: var(--color-dark);

}

.login-formulario input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  outline: none;
  transition: 0.3s;
}

.login-formulario input:focus {
  border-color: var(--color-primary);
}

.login-formulario p {
  font-size: 14px;
  text-align: center;
  color: #555;
}

@media (max-width: 900px) {
  .contenedor-login {
    flex-direction: column; 
    padding: 12px;
    gap: 24px;
  }
 
  .login-formulario {
    width: 100%;
    max-width: 340px;
    padding: 20px;
  }
}

@keyframes animacion {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}