.contenedor-formulario {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; 
  padding: 20px;
  box-sizing: border-box;
}

.usuario-formulario {
  width: 360px; 
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  animation: animacion 0.6s ease;
  font-family: "Segoe UI", sans-serif;
}

.usuario-formulario h2 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--color-dark);
}

.input-cesde {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-size: 14px;
  transition: 0.3s;
}

.input-cesde:focus {
  outline: none;
  border-color: var(--color-primary);
}

.usuario-formulario select {
  height: 42px;
  padding: 10px 12px;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: var(--color-white);
  cursor: pointer;
}

.usuario-formulario select:focus {
  outline: none;
  color: #555;
}

.contenedor-formulario p {
  font-size: 14px;
  text-align: center;
  color: #555;
}

.error-mensaje {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}

.usuario-formulario button:disabled {
  background: #ccc;
  cursor: not-allowed;
}



@keyframes animacion {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 900px) {
  .contenedor-formulario {
    flex-direction: column; 
  }
  
}







